/* Style for the main container */
body {
  background-color: #252525;
}

.container {
  max-width: 800px;
  border-radius: 15px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style for the page title */
h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}

/* Style for the search form */
form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

input[type="text"] {
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  margin-right: 0.5rem;
  border: 2px solid #ffff;
}

button[type="submit"] {
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #0077FF;
  color: #fff;
  cursor: pointer;
}

/* Style for the articles list */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

a {
  color: #0077FF;
  text-decoration: none;
}
